<form>
  <div class="input-container">
    <div class="search-container">
      <input
        type="search"
        placeholder="Search"
        name="search"
        [(ngModel)]="searchInput"
      />
      <button (click)="nameMovieToSearch()">Ok</button>
    </div>
    <div class="movies-container">
      <div class="movie-container" *ngFor="let movie of movies">
        <img
          [src]="'https://image.tmdb.org/t/p/w92/' + movie.poster_path"
          alt="Affiche du film"
        />
        <p>Sortie le {{ movie.release_date | date : "dd/MM/YYYY" }}</p> 
      </div>
    </div>
  </div>
</form>
